<header class=site-header>
  <div class=top-box>
    <%= image_tag 'logo.png'%>
  </div>
</header>

<div class=center-container>
  <div class=main-box>
    <div class=main-box__left id="map"></div>
    <%# <div class=main-box__right>
      <ul class=contents>
        <li class=contents__name>
        (storename) のもぐろぐ
        <li class=contents__details>
        ジャンル 
          <p>(genre)</p>
        </li>
        <li class=contents__details>
        住所 
          <p>(address)</p>
        </li>
        <li class=contents__details>
        最寄り
          <p>渋谷駅　ハチ公口から5分</p>
        </li>
        <li class=contents__details>
        おすすめコメント <br>
          <p>(comment)</p>
        </li>
      </ul> %>
    <%# </div> %>
  </div>
  <div class=main-box__bottom>
    <ul class=spot-box>
      <li href="#" class="btn-flat-dashed-border">渋谷</li>
      <li href="#" class="btn-flat-dashed-border">恵比寿</li>
    </ul>
  </div>
</div>

<footer>
</footer>

<%= Gon::Base.render_data %>

<script>
function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
         zoom: 16,
         center: new google.maps.LatLng(35.659200,139.701636),
         mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow;
    var marker, i;

    for (i = 0; i < gon.str.length; i++) {  
        marker = new google.maps.Marker({
             position: new google.maps.LatLng(gon.str[i]["latitude"], gon.str[i]["longitude"]),
             map: map,
             title: gon.str[i]["genre"]
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
             return function() {
                 infowindow.setContent(gon.str[i]["store_name"]);
                 infowindow.open(map, marker);
             }
        })(marker, i));
    }
}
</script> 


<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap"
type="text/javascript"></script>
