<header>
  <div class=top-box>
    <%= image_tag 'logo.png'%>
  </div>
</header>

<div class=center-container>
  <div class=main-box>
    <div class=main-box__left id="map"></div>
    <div class=main-box__right>
      <ul class=contents>
        <li class=contents__name>
        ダオタイ渋谷肉屋横丁店(storename) のもぐろぐ
        <li class=contents__details>
        ジャンル 
          <p>タイ料理、居酒屋(genre)</p>
        </li>
        <li class=contents__details>
        住所 
          <p>東京都渋谷区宇田川町１３−８ ちとせ会館2F(address)</p>
        </li>
        <li class=contents__details>
        最寄り
          <p>渋谷駅　ハチ公口から5分</p>
        </li>
        <li class=contents__details>
        おすすめコメント <br>
          <p>言わずと知れた肉横にある、タイ居酒屋です。居酒屋ということもあり、そんなに期待はしていなかったのですが、まいった！おいしい！！肉横全体がかなりうるさいので、騒ぎたいときに訪れてくださいね。居酒屋なので、お通しついてきちゃいます・・・！
          ※ランチ営業はしていないのでお気をつけて！(comment)</p>
        </li>
        <li class=contents__details>
        評価
          <p>3.5(rank)</p>
        </li>
      </ul>
    </div>
  </div>
  <div class=main-box__bottom>
    <ul class=spot-box>
      <li href="#" class="btn-flat-dashed-border">渋谷</li>
      <li href="#" class="btn-flat-dashed-border">恵比寿</li>
    </ul>
  </div>
</div>

<footer>

</footer>

<script>
  var map;
  function shibuyaMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 35.658034, lng: 139.701636},
      zoom: 16
    });
  }
</script> 

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY']%>&callback=shibuyaMap"
type="text/javascript"></script>
